<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
    <script src='/components/vue/dist/vue.js'></script>
    <title>hoge</title>
</head>
<body>
    <div id="demo">
        {% block body %}
        {% endblock %}
    </div>
<script src='/js/common.js'></script>
</body>
</html>
