<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src='/components/jquery/dist/jquery.js'></script>
    <script src='/components/bootstrap/dist/js/bootstrap.js'></script>
    <script src='/components/vue/dist/vue.js'></script>
    <script src='/js/common.js'></script>
    <title>掲示板的なものを目指している</title>
</head>
<body>
    <div class="container">
        <div id="app">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
