{% extends 'base.twig' %}
{% block body %}
{% raw %}
<h1>messageを入力</h1>
<form role="form">
    <div class="form-group">
        <input type="text" class="form-control" name='username' placeholder="username" v-model='username' required>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" name='password' placeholder="password" v-model='userpass'>
    </div>
    <input type="button" class='btn btn-default' value='送信' v-on='click: login' required>
</form>
<h2 v-model='message'>{{message}}</h2>
{% endraw %}
{% endblock %}
