{% extends 'base.twig' %}
{% block body %}
{% raw %}
<h1>messageを入力</h1>
<form role="form">
    <div class="form-group">
        <label for="message">{{message}}</label>
        <input type="text" class="form-control" id="message" placeholder="Enter Message" v-model='message'>
    </div>
    <input type="button" class='btn btn-default' value='送信' v-on='click: addMessage'>
</form>
<ul>
    <li v-repeat="messages" v-transition>
    {{content}}
    </li>
</ul>
{% endraw %}
{% endblock %}
